* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: white;
}


header {
    background: #111827;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: orange;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}

.contact h1 {
    margin-bottom: 30px;
    color: orange;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    min-height: 150px;
    resize: none;
}

button {
    background: orange;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffb347;
}

footer {
    background: #111827;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}