

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: white;
}

header {
    background: #111827;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: orange;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=1600');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}

.btn {
    background: orange;
    color: black;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.about {
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    color: orange;
}

.page-title {
    text-align: center;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1f2937;
    padding: 30px;
    border-radius: 15px;
    width: 280px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: orange;
    margin-bottom: 15px;
}

.card span {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

button {
    background: orange;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background: #111827;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}