/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: white;
}

header {
    background: #111827;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: orange;
}


.page-title {
    text-align: center;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1f2937;
    padding: 30px;
    border-radius: 15px;
    width: 280px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: orange;
    margin-bottom: 15px;
}

.card span {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}

button {
    background: orange;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background: #111827;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}